.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  flex-direction: row;
}

.background{
  background-color: lightblue;
  height:200px;
  width: 100%;
}

.first-frame > h2{
  font-family: 'Poppins, sans-serif';
  font-size: 30px;
  font-weight: 400;
  color: navy;
  margin-bottom: 0;
}

.first-frame > h4{
  font-family: 'Poppins, sans-serif';
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  color: rgb(82, 106, 119);
}

#waterfall1{
  height:175px;
}

.grid-second{
  display:grid;
  height: 400px;
  grid-template-columns: 40% 40%;
  text-overflow:clip;
}

.left-text{
  background-color: rgb(32, 103, 195);
  width: 300px;
}

#goal1{
  width: 300px;
}